<template>

    <div>

        <div class="alert alert-success" v-if="message">

            {{ message }}

        </div>

        <ul class="list-group padding">

            <draggable :list="elements" handle=".icon-dot-3" @start="drag=true" @end="drag=false" @change="update">

                <li class="list-group-item disabled" v-for="element, index in elements">

                    <div class="row chapter-row">

                        <div class="col-md-8">

                            <div class="float-wrap clearfix">

                                <i class="icon-dot-3"></i>
                                <h5>{{element.type}}</h5>

                            </div>

                        </div>

                        <div class="col-md-4 right-align">

                            <!-- '/oer' +  -->
                            <a :href="currentUrl + '/content-element/' + element.id" target="_self">
                                <button type="button" class="btn btn-primary">Bearbeiten</button>
                            </a>


                            <form action="#" @submit.prevent="deleteElement(element.id, index)">

                                <button type="submit" class="btn btn-danger">löschen</button>

                            </form>

                        </div>

                    </div>

                </li>

            </draggable>

        </ul>

    </div>

</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {
            draggable
        },
        props: [
            'data'
        ],
        data() {
            return {
                elements: [],
                message: null,
                currentUrl: ''
            }
        },
        methods: {
            deleteElement(id, index) {
                // TODO '/oer' +
                axios.post(this.currentUrl + '/content-element/' + id + '/delete', {
                }).then((response) => {
                    this.message = "Element gelöscht.   ";
                    this.elements.splice(index, 1);

            }).catch((error) => {
                    // handle error
                });
            },
            update(e) {
                this.elements.map((element, index) => {
                    element.sort_order = index + 1;
                });
                // TODO '/oer' +
                axios.post(this.currentUrl + '/updateOrder', {
                    elements: this.elements
                }).then((response) => {
                    this.message = "Reihenfolge gespeichert.";
                }).catch((error) => {
                    // handle error
                });
            }
        },
        mounted() {
            this.currentUrl = window.location.href;
            this.elements = this.data.content;
        }
    }
</script>
