<template>

    <div>

        <br/><br/><br/>

        <div class="canvas-chart-wrap">

            <div class="canvas-chart">

                <canvas id="myChart"></canvas>

            </div>

        </div>

        <form action="#" @submit.prevent="onSubmit">

            <div class="has-attachments">

                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>

            </div>

        </form>

    </div>

</template>

<script>
    export default {
        mounted() {
            var _this = this;

            window.addEventListener('domeIsReady', function(evt) {
                _this.drawChart();
            }, false);

            this.currentUrl = window.location.protocol + '//' + window.location.hostname;
            this.givenData = this.data;

            // generate chart data
            this.chartData.type = this.givenData.type;
            this.chartData.data.labels = this.givenData.chart_labels.map(item => {
                return item.label;
            });

            this.chartData.data.datasets = [];

            this.givenData.chart_datasets.forEach(dataSet => {
                this.chartData.data.datasets.push(
                    {
                        label: dataSet.label,
                        data: dataSet.chartItems.map(item => {
                            return item.value;
                        }),
                        backgroundColor: (this.chartData.type === 'line')
                            ? dataSet.chartItems[0].color
                            : dataSet.chartItems.map(item => {
                                return item.color;
                            }),
                        borderColor: (this.chartData.type === 'line')
                            ? dataSet.chartItems[0].color
                            : (this.chartData.type === 'pie')
                                ? 'white'
                                : dataSet.chartItems.map(item => {
                                    return item.color;
                                }),
                        'borderWidth': (this.chartData.type === 'line') ? 2 : 1,
                        'fill': false
                    }
                );
            });

            if (this.chartData.type === 'bar' || this.chartData.type === 'line') {
                this.chartData.options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: this.givenData.y_axis_min
                            }
                        }]
                    }
                };

                if (this.givenData.y_axis_max > 0) {
                    this.chartData.options.scales.yAxes[0].ticks.max = this.givenData.y_axis_max;
                }

                if (this.givenData.label_x_axis && this.givenData.label_x_axis.length) { // there is a x axis label given
                    this.chartData.options.scales.xAxes = [{
                        scaleLabel: {
                            display: true,
                            labelString: this.givenData.label_x_axis
                        }
                    }];
                }

                if (this.givenData.label_y_axis && this.givenData.label_y_axis.length) { // there is a y axis label given
                    this.chartData.options.scales.yAxes[0].scaleLabel = {
                        display: true,
                        labelString: this.givenData.label_y_axis
                    };
                }

            }
            // console.log(this.chartData);
        },
        props: [
            'data'
        ],
        data() {
            return {
                writingMode: false,
                attachments: [],
                dataForm: new FormData(),
                givenData: null,
                chartData: {
                    type: '',
                    data: {}
                },
                percentCompleted: 0,
                form: {
                    text: '',
                    fullname: '',
                    email: '',
                    emailrepeat: '',
                    contest: false,
                    additionals: false
                },
                submitting: false,
                success : false,
                errors: [],
                message: '',
                hasError: false,
                messageAppUrl: '',
                messageAppLayerVisible: false,
                currentUrl: '',
                myChart: null,
                image: null
            }
        },
        methods: {
            drawChart() {
                Chart.plugins.register({
                    beforeDraw: function(chartInstance) {
                        var ctx = chartInstance.chart.ctx;
                        ctx.fillStyle = "white";
                        ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
                    }
                });
                var ctx = document.getElementById('myChart').getContext('2d');

                if (ctx) {
                    new Chart(ctx, this.chartData);
                }

                this.myChart = document.getElementById('myChart');
            },
            toggleTextEditMode(visible) {
                if (visible) {
                    this.writingMode = true;
                    document.body.classList.add('menu-open');

                    setTimeout(function () {
                        document.getElementById('text-edit-overlay').classList.add('show');
                        document.getElementById('subscriptionText').focus();

                    }, 0);
                } else {
                    document.body.classList.remove('menu-open');
                    document.getElementById('text-edit-overlay').classList.remove('show');
                    this.writingMode = false;

                }
            },
            getAttachmentSize() {
                this.upload_size = 0; // Reset to beginningƒ
                this.attachments.map((item) => { this.upload_size += parseInt(item.size); });
                this.upload_size = Number((this.upload_size).toFixed(1));
                this.$forceUpdate();
            },
            prepareFields() {

                if (this.attachments.length > 0) {
                    for (var i = 0; i < this.attachments.length; i++) {
                        var attachment = this.attachments[i];
                        this.dataForm.append('attachments[]', attachment);
                    }
                }
            },
            uploadFieldChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                this.attachments = [];
                if (!files.length)
                    return;
                for (var i = files.length - 1; i >= 0; i--) {
                    this.attachments.push(files[i]);
                    console.log(this.attachments);
                    if (files[i].type.substr(0, 5) === 'audio') {
                        files[i].previewTypeClass = 'audio';
                    }
                    if (files[i].type.substr(0, 5) === 'video') {
                        files[i].previewTypeClass = 'video';
                    }
                    if (files[i].type.substr(0, 11) === 'application') {
                        files[i].previewTypeClass = 'application';
                    }
                    if (files[i].type.substr(0, 5) === 'image') {
                        files[i].previewTypeClass = 'image';

                        var reader = new FileReader();
                        var _this = this;
                        reader.theFile = files[i];

                        reader.onload = function(e) {
                            e.currentTarget.theFile.imageSrc = e.target.result;
                            _this.$forceUpdate();
                        }

                        reader.readAsDataURL(files[i]);
                    }

                    if (files[i].name.length > 15) {
                        files[i].displayName = files[i].name.substr(0, 10) + '...' + files[i].name.substr((files[i].name.length - 3), 3);
                    } else {
                        files[i].displayName = files[i].name;
                    }
                }
                // Reset the form to avoid copying these files multiple times into this.attachments
                document.getElementById("attachments").value = [];
            },
            removeAttachment(attachment) {
                this.attachments.splice(this.attachments.indexOf(attachment), 1);
                this.getAttachmentSize();
            },
            onSubmit() {
                this.errors = [];
                this.success = false;

                this.dataForm = new FormData();
                this.dataForm.append('imgBase64', this.myChart.toDataURL());

                if (!this.hasError) {
                    this.submitting = true;
                    this.prepareFields();
                    var config = {
                        headers: { 'Content-Type': 'multipart/form-data' } ,
                        onUploadProgress: function(progressEvent) {
                            this.percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                            this.$forceUpdate();
                        }.bind(this)
                    };

                    axios.post(this.currentUrl + '/oer/upload-chart/' + this.givenData.id, this.dataForm, config).then(response => {
                        this.errors = [];
                        this.form = {
                            text: '',
                            fullname: '',
                            email: '',
                            emailrepeat: '',
                            contest: false,
                            additionals: false
                        };
                        this.attachments = [];
                        this.message = '';
                        this.success = true;
                        this.submitting = false;
                    }).catch((error) => {
                        if (error.response.status === 422) {
                            this.errors = [];
                            this.errors.email = true;
                            this.errors.emailrepeat = true;
                            this.message = error.response.data.message;
                            document.dispatchEvent(this.createNewEvent('scrollToForm'));
                        }
                        this.success = false;
                        this.submitting = false;
                    });
                } else {
                    this.hasError = false;
                    this.success = false;
                    this.submitting = false;
                    document.dispatchEvent(this.createNewEvent('scrollToForm'));
                }
            }
        }
    }
</script>
