<template>

    <div>

        <form action="#" @submit.prevent="onSubmit">

            <div v-if="attachments.length" class="has-attachments">
                <div class="row row-eq-height">
                    <div class="col-4">
                        <div class="attachments-wrap">
                            <div class="attachment-holder" v-for="(attachment, index) in attachments">
                                <div>
                                    <div class="icon-wrap" :class='attachment.previewTypeClass'>
                                        <img :src="attachment.imageSrc"/>
                                    </div>
                                    <div class="label label-primary">{{ attachment.displayName }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <button type="button" class="btn btn-danger" @click="removeAttachment(attachment)">Entfernen</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>

            <div class="form-group" >
                <!-- <label class="control-label">Attachments</label>
                <br><br> -->

                <input type="file" id="attachments" @change="uploadFieldChange">
            </div>

        </form>

    </div>

</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {
            draggable
        },
        data() {
            return {
                writingMode: false,
                attachments: [],
                data: new FormData(),
                percentCompleted: 0,
                form: {
                    text: '',
                    fullname: '',
                    email: '',
                    emailrepeat: '',
                    contest: false,
                    additionals: false
                },
                submitting: false,
                success : false,
                errors: [],
                message: '',
                hasError: false,
                messageAppUrl: '',
                messageAppLayerVisible: false,
                currentUrl: ''
            }
        },
        methods: {
            toggleTextEditMode(visible) {
                if (visible) {
                    this.writingMode = true;
                    document.body.classList.add('menu-open');

                    setTimeout(function () {
                        document.getElementById('text-edit-overlay').classList.add('show');
                        document.getElementById('subscriptionText').focus();

                    }, 0);
                } else {
                    document.body.classList.remove('menu-open');
                    document.getElementById('text-edit-overlay').classList.remove('show');
                    this.writingMode = false;

                }
            },
            closeMessagengerOverlay() {
                this.messageAppLayerVisible = false;
            },
            setMessageAppUrl(url) {
                this.messageAppUrl = url;
                this.messageAppLayerVisible = true;
                window.location.hash = 'visitmessenger';
                window.addEventListener('popstate', this.browserBackEvent, false);
            },
            browserBackEvent() {
                if (this.messageAppLayerVisible) {
                    window.removeEventListener('popstate', this.browserBackEvent, false);
                    this.closeMessagengerOverlay();
                }
            },
            testIfValidEmail(email) {
                if( /(.+)@(.+){2,}\.(.+){2,}/.test(email) ){
                    return true;
                } else {
                    return false;
                }
            },
            createNewEvent(eventName) {
                if (typeof(Event) === 'function') {
                    return new Event(eventName);
                } else {
                    var event = document.createEvent('Event');
                    event.initEvent(eventName, true, true);
                    return event;
                }
            },
            closeOverlay() {
                this.success = false;
                document.dispatchEvent(this.createNewEvent('scrollToTop'));
            },
            getAttachmentSize() {
                this.upload_size = 0; // Reset to beginningƒ
                this.attachments.map((item) => { this.upload_size += parseInt(item.size); });
                this.upload_size = Number((this.upload_size).toFixed(1));
                this.$forceUpdate();
            },
            prepareFields() {

                if (this.attachments.length > 0) {
                    for (var i = 0; i < this.attachments.length; i++) {
                        var attachment = this.attachments[i];
                        this.data.append('attachments[]', attachment);
                    }
                }
            },
            uploadFieldChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                this.attachments = [];
                if (!files.length)
                    return;
                for (var i = files.length - 1; i >= 0; i--) {
                    this.attachments.push(files[i]);
                    if (files[i].type.substr(0, 5) === 'audio') {
                        files[i].previewTypeClass = 'audio';
                    }
                    if (files[i].type.substr(0, 5) === 'video') {
                        files[i].previewTypeClass = 'video';
                    }
                    if (files[i].type.substr(0, 11) === 'application') {
                        files[i].previewTypeClass = 'application';
                    }
                    if (files[i].type.substr(0, 5) === 'image') {
                        files[i].previewTypeClass = 'image';

                        var reader = new FileReader();
                        var _this = this;
                        reader.theFile = files[i];

                        reader.onload = function(e) {
                            e.currentTarget.theFile.imageSrc = e.target.result;
                            _this.$forceUpdate();
                        }

                        reader.readAsDataURL(files[i]);
                    }

                    if (files[i].name.length > 15) {
                        files[i].displayName = files[i].name.substr(0, 10) + '...' + files[i].name.substr((files[i].name.length - 3), 3);
                    } else {
                        files[i].displayName = files[i].name;
                    }
                }
                // Reset the form to avoid copying these files multiple times into this.attachments
                document.getElementById("attachments").value = [];
            },
            removeAttachment(attachment) {
                this.attachments.splice(this.attachments.indexOf(attachment), 1);
                this.getAttachmentSize();
            },
            onSubmit() {
                this.errors = [];
                this.data = new FormData();

                this.success = false;

                if (!this.hasError) {
                    this.submitting = true;
                    this.prepareFields();
                    var config = {
                        headers: { 'Content-Type': 'multipart/form-data' } ,
                        onUploadProgress: function(progressEvent) {
                            this.percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                            this.$forceUpdate();
                        }.bind(this)
                    };

                    axios.post(this.currentUrl + '/storeFile', this.data, config).then(response => {
                        this.errors = [];
                    this.form = {
                        text: '',
                        fullname: '',
                        email: '',
                        emailrepeat: '',
                        contest: false,
                        additionals: false
                    };
                    this.attachments = [];
                    this.message = '';
                    this.success = true;
                    this.submitting = false;
                }).catch((error) => {
                        if (error.response.status === 422) {
                        this.errors = [];
                        this.errors.email = true;
                        this.errors.emailrepeat = true;
                        this.message = error.response.data.message;
                        document.dispatchEvent(this.createNewEvent('scrollToForm'));
                    }
                    this.success = false;
                    this.submitting = false;
                });
                } else {
                    this.hasError = false;
                    this.success = false;
                    this.submitting = false;
                    document.dispatchEvent(this.createNewEvent('scrollToForm'));
                }
            }
        },
        mounted() {
            this.currentUrl = window.location.href;
            this.elements = this.data;
        }
    }
</script>
