
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "fontello.css";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.right-align {
  text-align: right;
}

.chapter-row {
  h5 {
    line-height: 37px;
    margin-bottom: 0;
  }
}

.float-wrap > * {
  display: block;
  float: left;
}

.icon-dot-3 {
  cursor: pointer;
  font-size: 22px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  padding-right: 10px;
}

.sortable-drag {
  background-color: #e1e1e1 !important;
}

span.as-label {
  display: block;
}

.form-control-file {
  line-height: 37px;
}

.list-group {
  &.padding {
    padding: 20px 0 0;
  }
  form {
    display: inline-block;
  }
}

.btn-block.padding-top {
  margin-top: 30px;
}

.form-group.has-error {
  label {
    color: #dc3545;
  }

  .form-control {
    border: 1px solid #dc3545;
  }
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
}

.bread-crump {
  margin-bottom: 30px;
}

.chart-dataset-wrap {
  background-color: #fff;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#cover-preview-text-warp {
  position: absolute;
  left: 40px;
  top: 25px;
  font-size: 22px;
  line-height: 26px;

  span {
    font-style: italic;
  }
}

.list-group-item.disabled,
.list-group-item:disabled {
  pointer-events: all !important;
}

.canvas-chart-wrap {
  display: block;
  position: relative;
  width: 100%;

  .canvas-chart {
    position: relative;
    padding-top: 50%;
    width: 100%;

    canvas {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
    }
  }
}

.canvas-math-wrap {
  display: block;
  position: relative;
  width: 100%;

  .canvas-math {
    position: relative;
    padding-top: 50%;
    width: 100%;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}